<Configuration>
    <Appenders>
        <File name="FileAppender" fileName="${sys:logFilePath}" ignoreExceptions="false">
            <Filters>
                <ThresholdFilter level="${sys:fileLogLevel}" onMatch="ACCEPT" onMismatch="DENY" />
            </Filters>
            <PatternLayout pattern="%msg%n"/>
        </File>
        <Console name="ConsoleAppender" target="SYSTEM_OUT">
            <Filters>
                <ThresholdFilter level="${sys:consoleLogLevel}" onMatch="ACCEPT" onMismatch="DENY" />
            </Filters>
            <PatternLayout pattern="%msg%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="FileAppender"/>
            <AppenderRef ref="ConsoleAppender"/>
        </Root>
    </Loggers>
</Configuration>
