<File name="Log" fileName="${sys:logFilePath}" ignoreExceptions="false">
    <PatternLayout pattern="%msg%n"/>
    <Filters>
        <PropertyFilter name="LogToFileFilter" onMatch="ACCEPT" onMismatch="DENY" key="logToFile" value="true"/>
    </Filters>
</File>
<Console name="Console" target="SYSTEM_OUT">
<PatternLayout pattern="%msg%n"/>
<Filters>
    <PropertyFilter name="LogToConsoleFilter" onMatch="ACCEPT" onMismatch="DENY" key="logToConsole" value="true"/>
</Filters>
</Console>
